<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/style.css">
    <link rel="stylesheet" href="/style/navbar.css">
    <script src="/scripts/script.js" defer></script>

    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&family=Sixtyfour:SCAN@5&display=swap"
          rel="stylesheet">
    <title>funda koop heel nederland</title>
</head>
<body>
<header class="header">

    <nav class="menu">
        <img alt="logo funda" class="mobile-logo" src="../assets/fundawonen-logo.svg">
        <ul class="menu-ul" role="menu">
                      <li>
                          <svg alt="funda logo" class="h-8 md:h-9 logo-funda-svg" viewBox="0 0 425.1 150.4" xmlns="http://www.w3.org/2000/svg"><path d="M425.1 150.3l-26-92.4A81.8 81.8 0 00321.8 0H0l25.6 92.6v.1a81.4 81.4 0 0075.7 57.7zm-377.3-64L30.3 23h291.4A58.8 58.8 0 01377 64.2l17.6 63.2H102a58.1 58.1 0 01-54.3-41z" fill="#60c5f8"></path><path d="M47.8 86.4L30.3 23h291.4a58.8 58.8 0 0155.2 41.2l17.6 63.2H102c-22.1 0-46.8-15.3-54.3-41z" fill="#53241b"></path><path d="M94.6 107.1h10.2V64.2h11.8v-7.8h-11.8v-6.7c0-3.1 1-4.2 4.4-4.2h7.4v-9.6h-8.2c-8 0-13.9 4.3-13.9 13.8v6.7H82.8l2.3 7.8h9.5zm35-17a17 17 0 0017 17.6 16.2 16.2 0 0013-6h.3v5.4H170V56.4h-10.2v30.2c0 6.9-4.4 11-10 11s-10.1-4-10.1-11V56.4h-10.2zm58.6 17h10.2V77c0-7 4.3-11 10-11s10 4 10 11V107h10.3V73.4a17 17 0 00-17-17.7 16.3 16.3 0 00-13.1 6h-.2v-5.4h-10.2zm85.8 0h10.2V35.8H274v26c-3.8-3.6-7.9-6-13.1-6a16.6 16.6 0 00-13.6 6.6c-2.8 3.6-3.6 6.9-3.6 19.3s.8 15.8 3.6 19.4a16.6 16.6 0 0013.6 6.6 17.9 17.9 0 0013.1-5.9zM264 66c9.5 0 10 8.4 10 15.7s-.5 15.9-10 15.9-10.1-8-10.1-15.9S254.4 66 264 66zm64.7 41.1H339V72.5c0-12.6-8.6-16.8-21.1-16.8-7.6 0-13.2 2-17.1 7.4l8 6.2c1.8-3 4.3-4 9.6-4 7.3 0 10.4 1.8 10.4 6.6v5.3h-14.1c-11 0-16.6 7-16.6 15 0 8.8 6.6 15.5 18 15.5 6.9 0 10.4-1.6 12.5-5h.2zm0-17.8c0 7.9-2.9 8.8-11.4 8.8-7 0-9.6-3-9.6-6.4 0-3.7 2.8-6.1 8.8-6.1h12.2z" fill="#fff" fill-rule="evenodd"></path></svg>

                      </li>
            <li class="li-tems-menu"><a class="menu-link" href="#" role="menuitem">kopen</a></li>
            <li class="li-tems-menu"><a class="menu-link" href="#" role="menuitem">huren</a></li>
            <li class="li-tems-menu"><a href="/" role="menuitem">favorietenlijst</a>
            <li class="li-tems-menu"><a class="menu-link" href="#" role="menuitem">verkopen</a></li>
            <li class="li-tems-menu"><a class="menu-link" href="#" role="menuitem">Mijn huis</a>

            </li>

            <li class="li-tems-menu iconlogin">
                <button type="button" class="button-login-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24"
                         height="24" fill="currentColor"
                         role="presentation"
                         viewBox="0 0 48 48"
                         class="flex md:mr-1 -mt-1 md:inline">
                        <path d="M24 9a8 8 0 108 8 8 8 0 00-8-8zm0 13a5 5 0 115-5 5 5 0 01-5 5z"></path>
                        <path d="M24 3a21 21 0 1021 21A21 21 0 0024 3zm-9 36.56V35c0-2.45 2.12-4.48 4.91-4.91A7.16 7.16 0
                 0121 30h6a7.16 7.16 0 011.09.09C30.88 30.52 33 32.55 33 35v4.56a17.85 17.85 0 01-18 0zm21-2.19
                 V34.5a1.48 1.48 0 00-.06-.4c-.5-4-4.31-7.1-8.94-7.1h-6c-4.63 0-8.44 3.11-8.94 7.1a1.48 1.48 0
                  00-.06.4v2.88a18 18 0 1124 0z"></path>
                    </svg>
                </button>
            </li>
        </ul>

        <button class="hamburger-icon" type="button"><img alt="menu icoon" class="login-icon" src="../assets/icons/mobileMenu.svg">
        </button>
        <ul>

        </ul>


    </nav>
</header>