<ul class="output_other_users">
    <% if (algemeen.length > 0) { %>
        <% algemeen.forEach(number =>{ %>
            <li class="show_notes__user"> algemeen: <%= number %></li>
        <% }) %>
    <% } else { %>
        <li class="show_notes__user">U hebt nog geen score op gegeven</li>
    <% } %>

    <% if (keuken.length > 0) { %>
        <% keuken.forEach(kitchen_number =>{ %>
            <li class="show_notes__user"> keuken: <%= kitchen_number %></li>
        <% }) %>
    <% } else { %>
        <li class="show_notes__user"></li>
    <% } %>

    <% if (badkamer.length > 0) { %>
        <% badkamer.forEach(kitchen_number =>{ %>
            <li class="show_notes__user"> Badkamer: <%= kitchen_number %></li>
        <% }) %>
    <% } else { %>
        <li class="show_notes__user"></li>
    <% } %>

    <% if (tuin.length > 0) { %>
        <% tuin.forEach(kitchen_number =>{ %>
            <li class="show_notes__user"> tuin: <%= kitchen_number %></li>
        <% }) %>
    <% } else { %>
        <li class="show_notes__user"></li>
    <% } %>
</ul>