<ul class="show_notes">
    <% if (notities.length > 0) { %>
        <% notities.forEach(note =>{ %>
            <li class="show_notes__user">  <%= note %></li>
        <% }) %>
    <% } else { %>
        <li class="show_notes__user">u hebt nog geen notitie ingevuld</li>
    <% } %>

</ul>