

.houses {
    /*width: 16em;*/
    /*padding: 0 0 0 3.5em;*/
    /*padding-right: 1em;*/
    /*margin-inline: 2em;*/
    /*box-sizing: border-box;*/
    /*padding-left: 1em;*/

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image_house_data {
    /*padding-left: 0;*/
    /*padding left default op 0 zodat het recht komt te staan */
    display: grid;
    gap: 0.5em;
    padding-right: 2em;
    width: 17em;
    padding-left: 2em;
    border: solid var(--gray) 0.2em;
    /*grid-template-rows: 12em 1em 1em 1em 1em 1em;*/
    /*grid-template-rows: 12em repeat(5, 1.1em);*/
    /*    door deze code gaat de tekt  bovenop elkaa zitten*/
}

.image-size {
    width: 100%;
    object-fit: cover;
}


.child_li_house_card{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    height: 1.5em;
    line-height: 1.5em;
}


/*todo hover states op option dus de sorteer functie en de pagina mist nog veel opmaak*/

.agent_long_text{
    height: 3em;
}


@media (width >= 400px) {

    .image-size {
        object-fit: cover;
    }

}


@media (width >= 600px) {

    .image-size {
        width: 250px;
        height: 183px;
        object-fit: cover;

    }
    /*.houses{*/
    /*    padding: 0 0 0 3em;*/
    /*}*/

    .image-house-data {
        /*padding-left: 0;*/
        /*padding left default op 0 zodat het recht komt te staan */
        display: grid;
        gap: 0.5em;
        padding-right: 3em;
        width: 17em;
        margin-top: 2em;
        /*grid-template-rows: 12em 1em 1em 1em 1em 1em;*/
        /*grid-template-rows: 12em repeat(5, 1.1em);*/
        /*    door deze code gaat de tekt  bovenop elkaa zitten*/
    }


}
