@font-face {
    font-family: "proximanova";
    src: url("/public/assets/font/ProximaNova-Regular_2607783814.otf");
}

:root {
    --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;
    --orange: #F7A100;
    --black: #333333;
    --gray: #dddddd;

    --margin-input-fields: 0 0 1em 0;
    --margin-2-em: 2em;
}


html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, sans-serif;
    width: 100%;
}

* {
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--black);
}

header {
    background-color: var(--orange
    );
    position: relative;
    color: var(--black);
}

.log-funda, .mobile-logo {
    width: 150px;

}

.menu-ul {
    display: none;
}

.menu-ul-open {
    display: block;
    margin: 1em 0 0 0;
}

.mobile-logo-open {
    display: none;
}

.hamburger-icon {

    background-color: var(--orange);

    border: none;
}

.hamburger-icon-open {
    position: relative;

    top: -8em;
}

.login-icon:hover {
    background-color: #0042B3;
}

.menu {
    background-color: var(--orange
    );
    display: flex;
}

.button-login-icon {
    margin-top: -0.5em;
}


.login-button {
    background-color: var(--orange);
}


.menu-link {
    color: var(--black);
    text-decoration: none;
}

.li-tems-menu {
    margin-top: 1em;
}


a:hover {
    text-decoration-line: underline;
}

.logo-funda-svg {
    width: 8em;
    margin-left: -2em;
}

@media only screen and (min-width: 650px) {


    .log-funda {
        top: -5px
    }

    .mobile-logo, .hamburger-icon {
        display: none;
    }


    .menu-ul {
        display: flex;
        row-gap: 1em;
        flex-direction: row;
        column-gap: 1em;

    }
}

@media only screen and (min-width: 700px) {
    .menu-ul {
        column-gap: 2em;

    }
}