
.house_details{
    margin-top: 2em;
    background-color: #e6f2f7;
    padding: 1em;
    max-width: 61em;
}
.house{
    width: 150px;

}
.score_field_numbers,.text_input_notes,.show_score_house,.input_notes{
    background-color: #e6f2f7;
    margin-bottom: 2em;
    padding: 1em;
}
ul{
    padding: 0;
}
.inputfields{
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.label-inputfield{
    display: grid;
    grid-template-columns: 6em 8em;
}

.chatbox{
    display: flex;
    flex-direction: column;
}

.show-the-scores{
    background-color: #e6f2f7;
    padding: 1em;
    margin-top: 2em;
    /*min-width: 300px;*/

}
.house_details_text{

}
/*oud noemen*/

.users-section-score{
    /*width: ;*/
}

.output{
    padding: 0;
}
.user-profiles{
    width: 150px;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.score-range{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(0px,1fr));
    margin-bottom: 1em;
    max-width: 21em;
}

.give-score,.show-the-score,.notes_inputs{
    margin-top: 2em;
}

.input_fields{

}

.message{
    font-size: 1.1em;
}
/*ul{*/
/*    padding: 0;*/
/*}*/
.submit-cijfer{
    width: 10em;
}

.button-notes{
    background-color: #F7A100;
    border: none;
    font-size: 1em;
}



#test{
    width: 15em;
    height: 5em;
    overflow: hidden;
    max-width: 30em;
}


.users_score_rating{
    padding: 1em;
    background-color: #e6f2f7;
}
.user{
    width: 150px;
}
@media (width >= 570px) {

    .inputfields{
        grid-template-columns: 17em;
    }
    .output{
        display: grid;
        grid-template-columns: 13em 13em;
    }
    .house{
        width: 250px;
    }


}
@media (width >= 980px) {
    .house{
        width: 450px;
    }

    .score_others_grid_container{
        display: grid;
    }
    .title{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .first_user{
        display: grid;
        grid-column: 1;
        grid-row: 2;

    }
    .second_user{
        display: grid;
        grid-column: 2;
        grid-row: 2;
    }

}

@media (width >= 1200px) {

    .house{
        width: 650px;
    }
    .house_details{
        width: 49em;
    }

    .inputfields{
        grid-template-columns: 17em 17em;
    }
    .score-others-grid-container{
        display: grid;
        grid-template-columns: 35em 29em;
        margin-top: 4em;

        column-gap: 3em;
    }
}
