@font-face {
    font-family: "proximanova";
    src: url("/public/assets/font/ProximaNova-Regular_2607783814.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, sans-serif;
    width: 100%;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
    --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;
    --orange: #F7A100;
    --black: #333333;
    --gray: #dddddd;

    --margin-input-fields: 0 0 1em 0;
    --margin-2-em: 2em;
}
main {
    margin: 2em 2em 2em 1em;
    padding-inline: 2em;
}

li {
    list-style-type: none;
}


.users-section-score{
    /*width: ;*/
}
.house{
    width: 150px;

}
.output{
    padding: 0;
}
.user-profiles{
    width: 150px;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.score-range{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(0px,1fr));
    margin-bottom: 1em;
    max-width: 21em;
}
.show-the-scores,.give-score,.notes_input{
    background-color: #e6f2f7;
    padding: 1em;
    margin-top: 2em;
    /*min-width: 300px;*/

}
.give-score,.show-the-score,.notes_inputs{
    margin-top: 2em;
}
.inputfields{
    display: grid;
    /*grid-template-columns: repeat(2, 1fr);*/
    grid-template-columns: 1fr;
    grid-gap: 10px;
}
.label-inputfield{
    display: grid;
    grid-template-columns: 6em 8em;
}
.input_fields{

}
.house_details{
    margin-top: 2em;
    background-color: #e6f2f7;
    padding: 1em;
    max-width: 61em;
}
.message{
    font-size: 1.1em;
}
ul{
    padding: 0;
}
.submit-cijfer{
    width: 10em;
}

.button-notes{
    background-color: #F7A100;
    border: none;
    font-size: 1em;
}

.chatbox{
    display: flex;
    flex-direction: column;
}
.button-notes{
    width: 10em;
}
.other-users-rating{
    padding: 1em;
    margin-top: 5em;
    max-width: 33em;
    /*background-color: #e6f2f7;*/

}
#test{
    width: 15em;
    height: 5em;
    overflow: hidden;
    max-width: 30em;
}
.score-others-grid-container{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
.users_score_rating{
    padding: 1em;
    background-color: #e6f2f7;
}
.user{
    width: 150px;
}
@media (width >= 570px) {

    .inputfields{
        grid-template-columns: 17em;
    }
    .output{
        display: grid;
        grid-template-columns: 13em 13em;
    }
    .house{
        width: 250px;
    }


}
@media (width >= 980px) {
    .house{
        width: 450px;
    }
    .grid-socre_divs{
        display: grid;
        grid-template-columns:29em 29em;
        column-gap: 3em;
        max-width: 66em;
    }
    .score-others-grid-container{
        display: grid;
        grid-template-columns: 29em 29em;

        column-gap: 3em;
    }
    .title{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 2;
    }
    .first_user{
        display: grid;
        grid-column: 1;
        grid-row: 2;

    }
    .second_user{
        display: grid;
        grid-column: 2;
        grid-row: 2;
    }

}

@media (width >= 1200px) {

    .house{
        width: 650px;
    }
    .house_details{
        width: 49em;
    }
    .grid-socre_divs{
        display: grid;
        grid-template-columns:35em 29em;
        column-gap: 3em;
        max-width: 66em;
    }
    .inputfields{
        grid-template-columns: 17em 17em;
    }
    .score-others-grid-container{
        display: grid;
        grid-template-columns: 35em 29em;
        margin-top: 4em;

        column-gap: 3em;
    }
}

/*.grid-containter-inputfields{*/
/*    display: grid;*/
/*    grid-template-columns: repeat(2, 1fr);*/
/*    grid-gap: 10px;*/
/*}*/
