@font-face {
    font-family: "proximanova";
    src: url("/public/assets/font/ProximaNova-Regular_2607783814.otf");
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    font-family: proximanova, sans-serif;
    width: 100%;
    line-height: 1.5em;
}

* {
    box-sizing: border-box;
}

/*https://brand.funda.nl/d/d9gw4zTPqYFU/brand-guide?#/basics-1/kleur*/
/*general*/
:root {
    --blue: #0042B3; /*huisstijl #0071B3 orgineel*/
    --white: #ffffff;
    --orange: #F7A100;
    --black: #333333;
    --gray: #dddddd;

    --margin-input-fields: 0 0 1em 0;
    --margin-2-em: 2em;
}

/*general*/
li {
    list-style-type: none;
}

a {
    text-decoration: none;

}

/*read the code from above to under as it is in the index ejs*/
main {
    /*margin: 2em 2em 2em 1em;*/
    /*padding-inline: 2em;*/
}

.favorite-section-search {
    display: grid;
    grid-template-rows: auto auto 1fr;
    grid-template-columns: 1fr;
    grid-row-gap: 1em;

    font-size: 1.15em;
}

.search-tekst, .styling-searchbutton {
    font-size: 1.1em;
    border: none;
}

.search-text {
    font-size: 1.16em;
}

.input-search {
    font-size: 0.9em;
}

.input-search:focus {
    background-color: var(--orange);
}

.styling-searchbutton {
    background-color: var(--orange);
    grid-row: 3;
}
option:focus-visible{
    background-color: var(--orange);
}

#filters {
    max-width: 10em;
}

.grid-house-lists{
    display: grid;
    gap: 3.5em;
    grid-template-columns: repeat(auto-fit, 18em);

}
.names-of-houses {
    display: grid;
    grid-row-gap: 0.8em;
    /*margin-left: 1em;*/
    padding: 0;
    border: solid #dddddd;

}
.image_house_icon{
    /*margin-left: -2em;*/
    width: 240px;
}
.user-profiles {
    width: 170px;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
}
.button-got-list{
    width: 10em;
    background-color: #F7A100;
    border: none;
    font-size: 1.3em;
    color: black;

}
.link-to-house {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: var(--blue);

}

.link-to-house {
    font-weight: 300;
    font-size: 1.1em;
}

.link-to-house:hover {
    color: var(--orange);
}


.border-top:not(:first-child) {
    /*margin-top: 1em;*/
}



/*de 1ste item moet geen border hebben omdat dit lelijk is*/
@media (width >= 400px) {
    .grid-house-lists{

        grid-template-columns: repeat(auto-fit, 23em);

    }

}


@media (width >= 600px) {

    .names-of-houses {
        /*margin-left: 0.5em;*/
        max-width: 86em;
        padding: 0.5em;
        /*margin: 1em 2em 2em 2em ;*/
        /*height: 30em;*/

    }
    /*article{*/
    /*    width: 21em;*/
    /*}*/

    .image_house_icon{
        /*margin-left: -2em;*/
        width: 248px;
    }
    .grid-house-lists{
        display: grid;
        gap: 3.5em;
        grid-template-columns: repeat(auto-fit,23em);

    }
    .height-li-items{
        /*height: 1em;*/
        /*height: 3em;*/

    }
    .height-li-items-omschrijving{
        height: 5em;
    }

    .height-li-items-title{
        height: 1.5em;

    }
    .omschrijving_li_items{

    }


}